:root {
    --bg: #B45309;
}

* {
    letter-spacing: 0.7px;
}

body {
    text-align: center;
    margin: auto;
    padding: 2rem;
    padding-left: 30%;
    padding-right: 30%;
    background-color: var(--bg);
    color: bisque;
}

.container {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 1.7rem;
    text-align: center;
}

.description {
    padding: 0.4rem;
    ;
    color: bisque;
    font-size: 1.1rem;
    opacity: 0.7;
    text-align: center;
}

label {
    margin: 5%;
    font-size: 1.2rem;
}

input {
    display: flex;
    flex-direction: column;
    border-radius: 0.51rem;
    width: 80%;
    margin: auto;
    height: 2rem;
    font-size: 1.5rem;
    background-color: bisque;
    color: var(--bg);
}

#check-button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 60%;
    padding: 0.7rem 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: block;
    cursor: pointer;
}

div {
    margin: auto;
}

.change-table {
    width: fit-content;
    border: 0.05rem solid bisque;
}

.no-of-notes,
td,
th {
    padding: 1rem;
    border: 0.1rem solid var(--bg);
    background-color: bisque;
    color: var(--bg);
    font-size: large;
}

.titie-colore {
    color: var(--primary-color);
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.footer {
    background-color: bisque;
    color: var(--bg);
    padding: 1rem 05rem;
    text-align: center;
    font-size: large;
}

.footer .link {
    color: var(--bg);
    font-size: large;
}

.footer .social-link {
    font-size: larger;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bolder;
    font-size: large;
    color: var(--bg);
    padding-top: 1rem;
}