:root {
    --bg: #e7e8d1;
}

* {
    letter-spacing: 0.7px;
}

body {
    text-align: center;
    margin: auto;
    padding: 2rem;
    padding-left: 30%;
    padding-right: 30%;
    background-color: #475569;
    color: #e7e8d1;
}

.container {
    display: flex;
    flex-direction: column;
}

.heading {
    color: #e7e8d1;
    text-align: center;
    font-size: xx-large;
}

.description {
    font-size: xx-large;
    font-weight: bolder;
    padding: 0.4rem;
    color: #e7e8d1;
    font-size: 1.1rem;
    /* opacity: 0.7; */
    text-align: center;
}

label {
    font-weight: bolder;
    margin: 5%;
    /* font-size: 1.2rem; */
    font-size: x-large;
}

input {
    display: flex;
    flex-direction: column;
    border-radius: 0.51rem;
    width: 80%;
    margin: auto;
    height: 2rem;
    font-size: 1.5rem;
    background-color: #475569;
    color: #e7e8d1;
}

#check-button {
    font-size: x-large;
    color: #e7e8d1;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 60%;
    padding: 0.7rem 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #475569;
    border-radius: 0.5rem;
    /* font-size: 1rem; */
    display: block;
    cursor: pointer;
}

div {
    margin: auto;
}

.change-table {
    width: fit-content;
    /* border: 0.05rem solid bisque; */
    font-weight: bolder;
    font-size: x-large;
}

.no-of-notes,
td,
th {
    padding: 1rem;
    border: 0.1rem solid var(--bg);
    background-color: #475569;
    color: var(--bg);
    font-size: large;
    margin: auto;
}

.title-color {
    color: var(--primary-color);
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.list-non-bullet {
    list-style: none;
    font-weight: bolder;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer {
    background-color: #475569;
    color: var(--bg);
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: var(--bg);
    font-size: large;
}

.footer .social-link {
    font-size: larger;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bolder;
    font-size: x-large;
    color: var(--bg);
    padding-top: 1rem;
}

.error-message {
    font-weight: bold;
    font-size: x-large;
}